<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped main-section">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <h1>{{ 'home.title' | translate }}</h1>
              <p class="lead text-white">{{ 'home.sub-title' | translate }}</p>
              <div class="mt-5">
                <small class="text-white font-weight-bold mb-0 mr-2">{{ 'home.coded-by' | translate }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section *ngIf="global_data!=null" class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 justify-content-center">
            <div class="row row-grid justify-content-center">
              <div class="col-lg-6">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5 text-center">
                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                      <i class="ni ni-world-2"></i>
                    </div>
                    <h5 class="text-primary text-uppercase">{{ 'card.global-statics' | translate }}</h5>
                    <div class="d-flex justify-content-center"><h6><span >{{ 'card.total-cases' | translate }}: </span>{{global_data.total_cases}}</h6></div>
                    <div class="d-flex justify-content-center"><h6><span >{{ 'card.total-recovered' | translate }}: </span>{{global_data.total_recovered}}</h6></div>
                    <div class="d-flex justify-content-center"><h6><span >{{ 'card.total-unresolved' | translate }}: </span>{{global_data.total_unresolved}}</h6></div>
                    <div class="d-flex justify-content-center"><h6><span >{{ 'card.total-deaths' | translate }}: </span>{{global_data.total_deaths}}</h6></div>
                    <div class="d-flex justify-content-center"><h6><span >{{ 'card.total-new cases-today' | translate }}: </span>{{global_data.total_new_cases_today}}</h6></div>
                    <div class="d-flex justify-content-center"><h6><span >{{ 'card.total-new deaths-today' | translate }}: </span>{{global_data.total_new_deaths_today}}</h6></div>
                    <div class="d-flex justify-content-center"><h6><span >{{ 'card.total-active-cases' | translate }}: </span>{{global_data.total_active_cases}}</h6></div>
                    <div class="d-flex justify-content-center"><h6><span >{{ 'card.total-serious-cases' | translate }}: </span>{{global_data.total_serious_cases}}</h6></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-sections></app-sections>
</main>
